.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-items: center;
    grid-template-areas:
      "Image Text";
  }
  
  .Image { grid-area: Image;
    position: fixed;
    top: 10%;
    width: 20%; 

    }
  
  .Text { grid-area: Text; }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin: auto;
    color: black;
    margin-top: 0px;
    text-align: right;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    text-align: left;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #1EFDB6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: right;
  border: none;
  outline: none;
  transition: 0.4s;
  content: 'U+1F9A0';
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color:#F07EBB;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
    content: '\1F9A0'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  